<h1>About</h1>
<p>The Friend-Pic Screensaver is built for fun by Todd Warren.   Todd uses it as an example in his <a href="http://nuvention.northwestern.edu/web">NUvention Web</a> class at <a=href="http://www.northwestern.edu>Northwestern</a></p>
<h2>Todd Warren</h2>
<p><a href="http://www.toddwinc.com">Todd Warren</a> is a long time member of the software development community.  He currently teaches as an adjunct faculty member in the department of computer science at Northwestern.
He teaches a class entitled NUvention web, where multidisciplinary teams of students start software projects.   He is also a venture partner at <a href="http://divergent.com">Divergent Ventures</a>, an early stage venture capital firm in Seattle, WA</p>
<p>Find me in app/views/pages/about.html.erb</p>
