<div id='headerbar'> 
  <div id='logo'> 
  </div> 
  <div id='tagline'> 
  </div> 
</div> 
<div id='positioningbox'> 
  <div id='positioningtext'> 
  </div> 
</div> 
<div id='pillars'> 
  <div id='firstpillar'> 
  </div> 
  <div id='secondpillar'> 
  </div> 
  <div id='thirdpillar'> 
  </div> 
</div> 
<div id='calltoaction'> 
  <div id='actionarea'> 
  </div> 
</div> 
<div id='footer'> 
  <div id='leftfooter'> 
  </div> 
  <div id='middlefooter> 
  </div> 
  <div id='rightfooter'> 
  </div> 
</div> 